@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll; /* Scrollbar hep görünsün, genişlik sabit kalsın */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Boşluklarda beyaz görünmesin */
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 🔥 CUSTOM SCROLLBAR (SİTEYE ÇOK HAVA KATAR) 🔥 */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4b4b; /* Scroll yaparken kızarsın */
}